@charset "UTF-8";

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)

### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    max-width: 100vw;
    background-color: #f4f4f4;
    line-height: 1.5;
}

main {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

main article header {
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
    color: hsl(0, 0%, 100%);
    padding: 30px;
    text-align: center;
    align-items: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

main article header h3 {
    color:hsl(241, 100%, 89%);
    text-align: center;
}

main article header div#pontos{
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 23px;
}

main article header div#pontos p#maior {
    font-size: 55px;
    padding-top: 29px;
    color: hsl(221, 100%, 96%);
}

main article header div#pontos p#menor {
    color: hsla(222, 100%, 96%, 0.671);
}

main article header p {
    color: hsla(222, 100%, 96%, 0.822);
}

section.conteudo h3 {
    margin-top: 25px;
    margin-left: 35px;
    margin-bottom: 25px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.877);
}

section {
    display: flex;
    flex-direction: column;
    padding: 0px 35px;
}

section a {
    text-decoration: none;
    display: block;
    
}

section div.seções a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 25px;
    width: 85%;
    text-align: center;
    margin-bottom: 19px;
    border-radius: 15px;
    box-shadow: 1px 1px  rgba(0, 0, 0, 0.116);
}

div#ladoesquerdo {
    display: flex;
    align-items: center;
    gap: 12px;
}

section img{
    width: 22px;
    height: 22px;
    display: block;
}

div#ladodireito{
    text-align: right;
    color: black;
    font-weight: 500;
}

a#reação {
    background-color:hsla(0, 68%, 91%, 0.274) ;
    color: hsl(0, 100%, 67%);
}

a#memoria {
    background-color:hsla(39, 75%, 89%, 0.281) ;
    color: hsl(39, 100%, 56%);
}

a#verbal {
    background-color: hsla(166, 100%, 88%, 0.288);
    color: hsl(166, 100%, 37%);
}

a#visual {
    background-color:hsla(236, 90%, 88%, 0.288) ;
    color: hsl(234, 85%, 45%);
}

section > a {
    color: #f4f4f4;
    background-color: hsl(224, 30%, 27%);
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 90%;
}

section > a:hover{
    background-color: hsla(256, 72%, 46%, 1);
}