@charset "UTF-8";

@media screen and (min-width: 600px) {
    main{
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 50px;
    }

    picture{
        
    }   

    div.parte2{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}